@model IEnumerable<Mvc517.DAL.Models.Opera>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">
    {{ message }} 
    <table>
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.phone }}</td>
            <td></td>
        </tr>
    </table>         
</div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composer)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Composer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('This item will be deleted');" })
                </td>
            </tr>
        }

    </table>

@*<script src="https://unpkg.com/vue"></script>*@
<script src="~/Scripts/app/components/hello.js"></script>

